.members-main {
    max-width: 1180px;
    margin: auto;
    position: relative;
    margin-bottom: 38px;
    margin-top:100px ;

}

.members-card {
    width: 827px;
    height: 652px;
    margin: auto;
    background-color: #0E7D8D;
    border-radius: 48px;
    padding-top: 53px;
}

.members-card h2 {
    width: 538px;
    margin: auto;
    color: white;
}

.members-carousel {
    width: 100%;
    height: 431px;
    position: absolute;
    bottom: 0;
    margin: auto;

}

.members-carousel .carousel-container {
    height: 100%;
    border-radius: 48px;

}

.members-carousel .carousel-img {
    width: 359px;
    height: 431px;
  pointer-events: none;

    
}

.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: center;
}

.carousel-caption h4 {
    color: #FFF;
    font-family: 'SK Modernist Bold';
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 136%;
}

.carousel-caption p {
    color: #FFF;
    font-family: 'SK Modernist Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
}

.members-carousel .member-prev-button,
.members-carousel .member-next-button {
    box-shadow: 0px 18px 47.6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    width: 59px;
    height: 59px;
    position: absolute;
    top: 50%;
}

.members-carousel .member-prev-button {
    left: -30px;
    z-index: 5;
}

.members-carousel .member-next-button {
    right: -30px;
    z-index: 5;
}
.members-carousel .react-multi-carousel-track {
    gap: 10px;
    margin-left: -50px;
}
.members-button {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1180px) {
    .members-main {
        max-width: 100%;
        margin-top: 50px;

    }

    .members-card {
        width: 80%;
        height: 570px;
        border-radius: 40px;
        padding-top: 50px;
    }

    .members-card h2 {
        width: 90%;
    }

    .members-carousel {
        width: 100%;
        height: 411px;
        position: absolute;
        bottom: 0;
    }

    .members-carousel .carousel-container {
        height: 100%;
        border-radius: 0px;

    }

    .members-carousel .carousel-img {
        width: 329px;
        height: 411px;
    }

    .carousel-caption {
        bottom: 10px;
        left: 0;
        right: 0;
        color: white;
        padding: 10px;
        text-align: center;
    }

    .carousel-caption h4 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 20px;
    }

    .members-carousel .member-prev-button svg,
    .members-carousel .member-next-button svg {
        width: 50px;
        height: 50px;

    }

    .members-carousel .member-prev-button {
        left: -0px;
    }

    .members-carousel .member-next-button {
        right: 10px;
    }
    .members-carousel .react-multi-carousel-track {
        gap: 5px;
        margin-left: -40px;
    }
    .members-button {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 640px) {
    .members-main {
        max-width: 100%;
        margin-bottom: 24px;
        margin-top: 0px;
    }

    .members-card {
        width: 90%;
        height: auto;
        border-radius: 0px;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        padding-top: 40px;
        padding-bottom: 31px;
    }

    .members-card h2 {
        width: 90%;
    }

    .members-carousel {
        width: 100%;
        height: 257px;
        position: relative;
        margin-top: -25px;

    }

    .members-carousel .carousel-container {
        height: 100%;
        border-radius: 0px;

    }

    .members-carousel .carousel-img {
        height: 257px;

    }

    .carousel-caption {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        color: white;
        padding: 10px;
        text-align: center;
    }

    .carousel-caption h4 {
        font-size: 16px;
    }

    .carousel-caption p {
        font-size: 14px;
    }

    .members-carousel .member-prev-button svg,
    .members-carousel .member-next-button svg {
        display: none;
    }
    .members-carousel .react-multi-carousel-track {
        gap: 2px;
        margin-left: -10px;
    }
    .members-button {
        margin-bottom: 35px;
        margin-top:50px ;
    }
}