/* World of possibilities section */

.world-of-possibilities-main {
  background: #DCFBFF;
  margin: 0px 10px 0px 10px;
  position: relative;
  padding-top: 80px;
  margin-top: 390px;
  border-radius: 64px;
  
  /* max-width: 1180px; */
}


.wp-carousel-section {
 max-width: 1121px;
 height: 411px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: auto;
 border-radius: 68px;
background: #FFF;
box-shadow: 0px 31px 51.8px 15px rgba(165, 191, 194, 0.30);
position: relative;
margin-top: -340px;
margin-bottom:88px ;

}
.carousel-cap {
  width: 295px;
  height: 233px;
  position: absolute;
  top: -20%;
  right: -10.9%;
  
}
.mobile-carousel {
  display: none;
}
.wp-carousel-section .custom-prev-button,
.wp-carousel-section .custom-next-button {
  position: absolute;
  top: 56%;
  width: 59px;
  height: 59px;
}

.wp-carousel-section .custom-prev-button {
  left: -30px;
  z-index: 5;
}

.wp-carousel-section .custom-next-button {
  right: -30px;
  z-index: 5;
}

.wp-carousel-section .custom-prev-button2,
  .wp-carousel-section .custom-next-button2 {
    display: none;
   }

.wp-carousel-section .react-multi-carousel-list {
  overflow: hidden;
  user-select: none;
}
.carousel-container {
  height: 200px;
}

.carousel-img {
  width:233px ;
  height: 88px;
  pointer-events: none;

}


.wp-carousel-section h2 {
  width: 875px;
  margin-left: auto;
  margin-right: auto;
}

.world-of-possibilities-main h1 {
  max-width: 791px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  line-height: 104%;
}

.world-of-possibilities-sub-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 1183px;
  background-image: url('../../assets/map-bg.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 0px;
  border-bottom: 2.5px solid rgba(11, 67, 75, 0.10);
  padding-top: 0px;
  height: 713px;
}

.breathing-image {
  width: 316px;
  height: 316px;
  background: white;
  border-radius: 150px;
  animation: breathingEffect 3s ease-out infinite;
}

@keyframes breathingEffect {

  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  50% {
    box-shadow: 0 0 25px 15px rgba(255, 255, 255, 0.8);
  }
}

.world-of-possibilities-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.world-of-possibilities-card-svg {
  width: 81px;
  height: 81px;
}

.world-of-possibilities-card:not(:last-child) {
  display: flex;
  justify-content: center;
  width: 356px;
  border-right: 2.5px solid rgba(11, 67, 75, 0.10);
  padding: 10px 0px 40px 0px;
}

.world-of-possibilities-card:last-child {
  display: flex;
  justify-content: center;
  width: 356px;
  padding: 10px 0px 40px 0px;
}

.world-of-possibilities-card h1 {

  color: #1F6671;
  font-size: 76.494px;
  font-style: normal;
  font-weight: 700;
  line-height: 104%;
  text-align: start;
}

.world-of-possibilities-card span {
  font-family: 'SK Modernist Regular';
  color: #0B434B;
  font-size: 36.817px;
  font-style: normal;
  font-weight: 400;
  line-height: 104%;
  padding: 0px 10px 0px 10px;
}

.world-of-possibilities-sub-2 {
  max-width: 1183px;
  margin: auto;
}

.world-of-possibilities-cards-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 50px 20px 50px 20px;
  margin: 0 auto;
  max-width: 1120px;
  position: relative;
}

.world-of-possibilities-2-card {
  width: 537px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  justify-content: center;
  padding: 30px 20px 40px 30px;
  transition: background-color 0.3s, color 0.3s;
}

.world-of-possibilities-2-card-head {
  display: flex;
  gap: 15px;
  align-items: center;
}

.world-of-possibilities-2-card svg {
  width: 42px;
  height: 39px;
}

.world-of-possibilities-2-card h3 {
  font-family: 'SK Modernist Bold';
  line-height: 24px;
  font-size: 25px;
  margin-bottom: 10px;
}

.world-of-possibilities-2-card p {
  color: #0C434B;
  font-size: 19.043px;
  line-height: 136%;
  padding: 0px 20px 0px 50px;
}

.world-of-possibilities-2-card:hover {
  background-color: #259D4A;
  color: #fff;
}

.world-of-possibilities-2-card:hover h3 {
  color: #fff;
}

.world-of-possibilities-2-card:hover svg path {
  fill: white;
}

.world-of-possibilities-2-card:hover p {
  color: #fff;
}

.world-of-possibilities-2-card:hover svg circle {
  stroke: white;
}

.world-of-possibilities-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../../assets/professional2.webp');
  background-position: left ;
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;

}

.world-of-possibilities-icon-dot {
  position: absolute;
  width: 466px;
  height: 466px;
  left: 20px;
}

.world-of-possibilities-icons {
  position: relative;
  height: 50%;
  width: 50%;
}

.world-of-possibilities-icon-1 {
  position: absolute;
  left: 80px;
  bottom: 0px;
}

.world-of-possibilities-icon-2 {
  position: absolute;
  left: 190px;
  bottom: 280px;
}

.world-of-possibilities-icon-3 {
  position: absolute;
  left: -10px;
  bottom: 80px;
}

.world-of-possibilities-icon-4 {
  position: absolute;
  left: 50px;
  bottom: 230px;
}

@media only screen and (max-width: 1180px) {
  /* World of possibilities section */

  .world-of-possibilities-main {
    margin: 0px 10px 0px 10px;
    padding-top: 40px;
    border-radius: 38px;
  margin-top: 350px;

  }
  .wp-carousel-section {
    max-width: 90%;
    height: 411px;
    border-radius: 48px;
    margin-top: -300px;
    margin-bottom: 60px;
  }
  .carousel-cap {
    width: 105px;
    height: 108px;
    position: absolute;
    top: -10%;
    right: -6%;
  }
   .wp-carousel-section .custom-prev-button,
   .wp-carousel-section .custom-next-button {
     position: absolute;
     top: 55%;
     width: 40px;
     height: 40px;
   }
   
   .wp-carousel-section .custom-prev-button {
     left: -20px;
     z-index: 5;
   }
   
   .wp-carousel-section .custom-next-button {
     right: -20px;
     z-index: 5;
   }
   

   .carousel-container {
     height: 200px;
   }
   
   .carousel-img {
     width:233px ;
     height: 88px;
   }
   
   
   .wp-carousel-section h2 {
     width: 90%;
   }


  .world-of-possibilities-main h1 {
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding: 0px 0px 0px 0px;
    line-height: 104%;
  }

  .world-of-possibilities-sub-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../../assets/map-bg.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 30px;
    border-bottom: none;
    padding-top: 30px;
    height: 650px;
    position: relative;

  }

  .breathing-image {
    position: absolute;
    top: 10%;
    width: 222px;
    height: 222px;
  }

  .world-of-possibilities-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }

  .world-of-possibilities-2-card-head {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: nowrap;
  }

  .world-of-possibilities-card-svg {
    width: 65px;
    height: 65px;
  }

  .world-of-possibilities-card:not(:last-child) {
    justify-content: center;
    width: 280px;
    align-items: center;
    border-right: none;
    padding: 10px 0px 20px 30px;
  }

  .world-of-possibilities-card:last-child {
    justify-content: left;
    gap: 10px;
    width: 300px;
    align-items: center;
    padding: 10px 0px 20px 30px;
    border-bottom: none;

  }

  .world-of-possibilities-card h1 {
    font-size: 61px;
    text-align: start;
  }

  .world-of-possibilities-card span {
    font-size: 29px;
  }

  .world-of-possibilities-cards-2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 20px 30px 20px;
    justify-content: center;
  }

  .world-of-possibilities-cards-2 svg {
    min-width: 42px;
    min-height: 39px;
  }

  .world-of-possibilities-2-card {
    width: 90%;
    justify-content: center;
    gap: 10px;
    padding: 28px 25px 28px 25px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: auto;
    margin-right: auto;
  }

  .world-of-possibilities-2-card h3 {
    font-size: 21px;
  }

  .world-of-possibilities-2-card p {
    font-size: 17px;
    padding: 0px 0px 0px 0px;
  }

  .world-of-possibilities-bottom {
    justify-content: flex-end;
    align-items: center;
    background-position: top;
    background-size: cover;
    height: 500px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
  }

  .world-of-possibilities-icon-dot {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 20px;
  }

  .world-of-possibilities-icons {
    position: relative;
    height: 50%;
    width: 50%;
  }

  .world-of-possibilities-icon-1 {
    position: absolute;
    width: 135px;
    height: 115px;
    left: 70px;
    bottom: 80px;
  }

  .world-of-possibilities-icon-2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 120px;
    bottom: 210px;
  }

  .world-of-possibilities-icon-3 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    bottom: 120px;
  }

  .world-of-possibilities-icon-4 {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 40px;
    bottom: 190px;
  }


}

@media only screen and (max-width: 640px) {
  /* World of possibilities section */

  .world-of-possibilities-main {
    margin: 0px 10px 0px 10px;
    margin-top: 471px;
    padding-top: 40px;
    border-radius: 38px;
  }
  .desktop-carousel {
    display: none;
  }
  .mobile-carousel {
    display: block;
  }
  .wp-carousel-section {
    max-width: 95%;
    width: 95%;
    height: 421px;
    border-radius: 38px;
    margin-top: -480px;
    padding-top: 32px;
    padding-bottom: 40px;
    margin-bottom: 50px;

   }
   .carousel-cap {
   display: none;
  }
  .wp-carousel-section .custom-prev-button2,
  .wp-carousel-section .custom-next-button2 {
    display: block;
     position: absolute;
     top: 68%;
     width: 38px;
     height: 38px;
   }
   
   .wp-carousel-section .custom-prev-button2 {
     left: -10px;
     z-index: 5;
   }
   
   .wp-carousel-section .custom-next-button2 {
     right: -10px;
     z-index: 5;
   }
 
   
   .wp-carousel-section .react-multi-carousel-list {
     overflow: hidden;
     user-select: none;
   }
   .carousel-container {
     height: 180px;
   }
   .wp-carousel-section .react-multi-carousel-dot-list {
    gap: 4px;
   }
   .wp-carousel-section .react-multi-carousel-dot {
    transform: scale(1);
   }
   .carousel-img {
     width:107px ;
     height: 60px;
   }
   
   
   .wp-carousel-section h2 {
     width: 90%;
   }

   
  .world-of-possibilities-main h1 {
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding: 0px 0px 0px 0px;
    line-height: 104%;
  }

  .world-of-possibilities-sub-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../../assets/map-bg-mob.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 30px;
    border-bottom: none;
    padding-top: 30px;
    height: 650px;
    position: relative;
  }

  .breathing-image {
    position: absolute;
    top: 10%;
    width: 172px;
    height: 172px;
  }

  .world-of-possibilities-cards {
    flex-direction: column;
    text-align: center;
    justify-content: end;
    width: 100%;
    margin-top: 50px;
  }

  .world-of-possibilities-card-svg {
    width: 65px;
    height: 65px;
  }

  .world-of-possibilities-card:not(:last-child) {
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    align-items: center;
    border-right: none;
    border-bottom: 2.5px solid rgba(11, 67, 75, 0.10);
    padding: 10px 0px 20px 30px;
  }

  .world-of-possibilities-card:last-child {
    justify-content: left;
    gap: 10px;
    width: 100%;
    align-items: center;
    padding: 10px 0px 20px 30px;
    border-bottom: 2.5px solid rgba(11, 67, 75, 0.10);

  }

  .world-of-possibilities-card h1 {
    font-size: 61px;
    text-align: start;
  }

  .world-of-possibilities-card span {
    font-size: 29px;
  }

  .world-of-possibilities-cards-2 {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    padding: 30px 20px 30px 20px;
    justify-content: center;
  }

  .world-of-possibilities-2-card {
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 28px 25px 28px 25px;
    transition: background-color 0.3s, color 0.3s;
  }

  .world-of-possibilities-2-card h3 {
    font-size: 21px;
  }

  .world-of-possibilities-2-card p {
    font-size: 17px;
    padding: 0px 0px 0px 0px;
  }

  .world-of-possibilities-bottom {
    justify-content: flex-end;
    align-items: center;
    background-position: center top;
    height: 316px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
  }

  .world-of-possibilities-icon-dot {
    position: absolute;
    left: -10px;
    width: 166px;
    height: 166px;
  }

  .world-of-possibilities-icons {
    position: relative;
    height: 50%;
    width: 50%;
  }

  .world-of-possibilities-icon-1 {
    position: absolute;
    width: 105px;
    height: 96px;
    left: 10px;
    bottom: 30px;
  }

  .world-of-possibilities-icon-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 80px;
    bottom: 120px;
  }

  .world-of-possibilities-icon-3 {
    position: absolute;
    width: 18px;
    height: 18px;
    left: -10px;
    bottom: 100px;
  }

  .world-of-possibilities-icon-4 {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 20px;
    bottom: 130px;
  }

}