/* hero section */

.hero-section {
  font-family: 'SK Modernist Bold';
  background-color: #BEE4E9;
  /* height: 900px; */
  color: #0B434B;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
}
.hero-section::after {
  content: '';
  width: 33%; 
  height: 100%;
  background-color:#E2F3F5;
  position: absolute;
  z-index:1 ;
}

/* //////////////// */
/* //////////////// */
/* header section */
.header-section {
  width: 100%;
  padding: 54px 64px 0px 64px;
  z-index: 5;
}

.header-section-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-section-contact p {
  line-height: 1;
}
/* //////////////// */
/* //////////////// */
/* //////////////// */


.hero-sub {
  max-width: 1180px;
  display: flex;
  justify-content: center;
  margin: auto;

}

.hero-left {
width: 550px;
display: flex;
flex-direction: column;
justify-content: flex-end;
margin-bottom: 50px;
}

.sub-heading {
  /* margin-top: 80px; */
  margin-bottom: 16px;
  gap: 28px;
  align-items: center;
}

.subheding-icon {
  position: relative;
  display: inline-block;
  z-index: 5;
  
 
}
.subheding-icon img {
  width: 63px;
  height: 63px;
  
}

.subheding-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline: 0.5px solid #E44343;
  animation: pulses 1.8s infinite cubic-bezier(0.66, 0, 0, 1);
  z-index: 1;
}

@keyframes pulses {
  0% {
    transform: translate(-50%, -50%) scale(.9);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
    outline-width: 12px;
    opacity: 0;
  }
}


.hero-left h4 {
  font-size: 23.151px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
  text-transform: capitalize;
}
.hero-left h3 {
  font-family: 'SK Modernist Bold';
  font-weight: 700;
}
.hero-left p {
  font-family: 'SK Modernist Regular';
  color: #0B434B;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
  width: 509px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.Hero-Headline {
  width:600px;
  font-family: 'SK Modernist Bold';
  font-size: 58px;
  font-weight: 700;
  line-height: 60px;
  /* padding-right: 60px; */
}

.hero-right {
  width:797px;
  height: auto;
  display: flex;
  flex-direction: column;
justify-content: flex-end;
  background-image: url('../../assets/hero-bg.webp');
  background-position-y:176px  ;
  background-position-x: -30px;
  background-size: 675px 588px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;

  
}
.hero-right img {
  width: 763px;;
  height: 737px;
  object-fit: contain;
  object-position: bottom;
}

.hero-icons-main {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
}


.graphic-devider {
  background-image: url('../../assets/svg/GraphicPattern.svg');
  background-repeat: repeat-x;
  width: 100%;
  height: 214px;
  overflow: hidden;

}
.graphic-devider-mob {
  display: none;
}

@media only screen and (max-width: 1180px) {
  .hero-section {
    align-items: flex-end;
    flex-direction: column;
    position: relative;
  }
  .hero-section::after {
   display: none;
  }
/* //////////////// */
/* //////////////// */
/* header section */
  .header-section {
    padding: 26px 23px 0px 23px;
    border: none;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
  }

  .header-section-contact div {
    display: none;
  }
  /* //////////////// */
/* //////////////// */

.hero-sub {
  max-width: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;

}

.hero-left {
width: 80%;
margin: auto;
}

.sub-heading {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 16px;
  gap: 20px;
  align-items: center;
}

.subheding-icon img {
  width: 53px;
  height: 53px;
  
}


.hero-left h4 {
  font-size: 19px;
}
.hero-left h3 {
  font-size: 20px;
}
.hero-left p {
  font-size: 18px;
  width: 80%;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;

}

.Hero-Headline {
  width:90%;
  font-size: 50px;
  line-height: 55px;
  text-align: center;

}

.hero-right {
  width:100%;
  position: relative;
  z-index: 5;
  
}
.hero-right::after {
  background-image: url('../../assets/hero-bg-mob.webp');
  background-position-y: 40px ;
  background-position-x: center;
  background-size:contain ;
  background-repeat: no-repeat;
  position: absolute;
  content: '';
  width: 100%;
  height: 400px;
  background-color:#F1FEFF ;
  z-index: -1;
}
.hero-right img {
  width: 400px;;
  height:481px;
  object-fit: contain;
  object-position: bottom;
  margin: auto;
}

.hero-icons-main {
  position: absolute;
  width: 50%;
  height: 40%;
  bottom: 10%;
  left: 25%;
}


.graphic-devider {
  width: 100%;
  height: 150px;
  overflow: hidden;

}
.graphic-devider-mob {
  display: none;
}
}

@media only screen and (max-width: 640px) {

/* //////////////// */
/* //////////////// */
/* header section */
  .header-section {
    padding: 30px 23px 0px 23px;
    border: none;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
  }

  .header-section-contact div {
    display: none;
  }
/* //////////////// */
/* //////////////// */


.hero-left {
width: 100%;
}

.sub-heading {
  margin-top: 50px;
  margin-bottom: 11px;
  gap: 25px;
  width: 80%;
}

.subheding-icon img {
  width: 46px;
  height: 46px;
  
}


.hero-left h4 {
  font-size: 12px;
}
.hero-left h3  {
  font-size: 15px;
}
.hero-left p {
  font-size: 17px;
  margin: auto;
  width: 90%;
  padding-top: 12px;
  padding-bottom: 18px;

}

.Hero-Headline {
  width:100%;
  font-size: 47px;
  line-height: 50px;

}

.hero-right::after {
  height: 85%;
}
.hero-right img {
  width: 100%;
  height:421px;
}

.hero-icons-main {
  position: absolute;
  width: 90%;
  bottom: 10%;
  left: 5%;
}


.graphic-devider {
 display: none;
}
.graphic-devider-mob {
  display: block;
  width: 100%;
  height: 84px;
  overflow: hidden;
  background-image: url('../../assets/svg/GraphicPattern-mob.svg');
  background-repeat: repeat-x;

}
}

@media only screen and (max-width:325px) {
/* //////////////// */
/* //////////////// */
/* header section */
    .header-section img {
      width: 170px;
    }
    .header-section-contact svg {
      width: 30px;
      height: 30px;
    }
/* //////////////// */
/* //////////////// */

  .Hero-Headline {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .hero-left p {
    padding-top: 10px;
  }
  .hero-icons-main {
    position: relative;
    width: 90%;
    height: 60%;

  }

}