.purpose-main {
    margin: 0px 10px 0px 10px;
    background-color:#EDE6D8;
    padding: 65px 0px 57px 0px;
    border-radius: 64px;
    position: relative;

}
.purpose-main h2 {
    width: 652px;
    text-align: center;
    margin: auto;
    margin-bottom: 29px;
}
.purpose-p {
    width: 595px;
    text-align: center;
    margin: auto;
    font-size: 19px!important;
}
.purpose-card {
   max-width:820px ;
   width: auto;
    height: auto;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 34px;
    background: #FFF;
    box-shadow: 0px 30px 66px 0px rgba(0, 0, 0, 0.01);
}
.purpose-text {
    padding: 63px 0px 71px 76px;
}
.purpose-text h4 {
    width: 524px;
    color: #26626B;
font-family: 'SK Modernist Bold';
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 136%; /* 43.441px */
}
.purpose-text h5 {
    color: #26626B;
font-family: 'SK Modernist Bold';
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: 136%; /* 31.63px */
text-align: right;
padding-top:39px ;
}
.user-img-main {
    width: 300px;
    height: 100px;
    position: relative;
}
.user-img {
    width: 217px;
    height: 316px;
    position: absolute;
    top: -40px;
    right: -40%;
}
.quote1 {
    width: 118px;
    height: 82px;
    position: absolute;
    top:-45px;
    left: 0px;
}
.quote2 {
    width: 145px;
    height: 101px;
    position: absolute;
    top: 80px;
    right:-160px;
}


.purpose-card2 {
    max-width:886px ;
    width: auto;
     height: auto;
     margin: auto;
     margin-top: 120px;
     margin-bottom: 61px;
     display: flex;
     /* align-items: center; */
     /* justify-content: center; */
     border-radius: 34px;
     background: #FFF;
     box-shadow: 0px 30px 66px 0px rgba(0, 0, 0, 0.01);
 }
 .purpose-text-2 {
     padding: 63px 0px 71px 76px;
 }
 .purpose-text-2 h4 {
     width: 524px;
     color: #26626B;
 font-family: 'SK Modernist Bold';
 font-size: 32px;
 font-style: normal;
 font-weight: 700;
 line-height: 136%; /* 43.441px */
 }
 .purpose-text-2 h5 {
     color: #26626B;
 font-family: 'SK Modernist Bold';
 font-size: 23px;
 font-style: normal;
 font-weight: 700;
 line-height: 136%; /* 31.63px */
 text-align: left;
 padding-top:39px ;
 }
 .user-img-main-2 {
     width: 220px;
     height: 100%;
     position: relative;
 }
 .user-img2 {
     width: 217px;
     height: 316px;
     position: absolute;
     top: -50px;
     left: -40%;
 }
 .quote1-2 {
     width: 118px;
     height: 82px;
     position: absolute;
     top:-50px;
     left: -80%;
 }
 .quote2-2 {
     width: 145px;
     height: 101px;
     position: absolute;
     top:150px ;
     left: 50%;
 }
 .purpose-bottom {
    margin-top: 10px;
 }
 .patterns {
    position: absolute;
    left: 20%;
 }

@media only screen and (max-width: 1180px) {
    .purpose-main {
        padding: 65px 0px 57px 0px;
        margin-top: -25px;
    }
    .purpose-main h2 {
        width: 80%;
        margin-bottom: 20px;
    }
    .purpose-p {
        width: 80%;
        font-size: 20px!important;
    }
    .purpose-card {
       max-width:90% ;
       width: auto;
        margin-top: 60px;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

    }
    .purpose-text {
        padding: 43px 0px 61px 0px;
        order: 2;
    }
    .purpose-text h4 {
        width: 80%;
    font-size: 29px;
    margin: auto;
    }
    .purpose-text h5 {
    font-size: 20px;
    font-style: normal;
    text-align: center;
    padding-top:20px ;
    }
    .user-img-main {
        order: 1;
        width: 220px;
        height: 200px;
    }
    .user-img {
        width: 177px;
        height: 205px;
        top: 10%;
        right: 10%;
    }
    .quote1 {
        width: 80px;
        height: 56px;
        top:1%;
        left: -10%;
    }
    .quote2 {
        width: 98px;
        height: 68px;
        position: absolute;
        top: 50%;
        right:-15%;
    }
    
    
    .purpose-card2 {
        max-width:90% ;
        width: auto;
         margin-top: 60px;
         margin-bottom: 51px;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding-top: 20px;
     }
     .purpose-text-2 {
         padding: 43px 0px 61px 0px;
     }
     .purpose-text-2 h4 {
         width: 80%;
     font-size: 29px;
     margin: auto;
     }
     .purpose-text-2 h5 {
     font-size: 20px;
     text-align: center;
     padding-top:20px ;
     }
     .user-img-main-2 {
         width: 220px;
         height: 200px;
     }
     .user-img2 {
         width: 177px;
         height: 205px;
         top: 10%;
         left: 10%;
     }
     .quote1-2 {
         width: 80px;
         height: 56px;
         top:1%;
         left: -10%;
     }
     .quote2-2 {
         width: 98px;
         height: 68px;
         top:50% ;
         left: 70%;
     }
     .patterns {
       width: 80px;
       height: 80px;
       bottom: -40px;
     }
}

@media only screen and (max-width: 640px) {
    .purpose-main {
        padding: 43px 0px 37px 0px;
        border-radius: 38px;
    }
    .purpose-main h2 {
        width: 90%;
        margin-bottom: 20px;
    }
    .purpose-p {
        width: 80%;
    text-align: left;
    font-size: 18px!important;
    }
    .purpose-card {
       max-width:95% ;
       width: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-top: 30px;
    }
    .purpose-text {
        padding: 21px 0px 32px 0px;
        order: 2;
    }
    .purpose-text h4 {
        width: 85%;
    font-size: 25px;
    }
    .purpose-text h5 {
    font-size: 15px;
    font-style: normal;
    text-align: center;
    padding-top:20px ;
    }
    .user-img-main {
        order: 1;
        width: 200px;
        height: 200px;
    }
    .user-img {
        width: 147px;
        height: 215px;
        top: 0%;
        right: 12%;
        padding-bottom: 10px;
    }
    .quote1 {
        top:1%;
        left: -15%;
    }
    .quote2 {
        top: 50%;
        right:-12%;
    }
    
    
    .purpose-card2 {
        max-width:95% ;
        width: auto;
         margin-top: 30px;
         margin-bottom: 10px;
         padding-top: 30px;
     }

     .purpose-text-2 {
         padding: 21px 0px 32px 0px;
     }
     .purpose-text-2 h4 {
         width: 85%;
     font-size: 25px;
     }
     .purpose-text-2 h5 {
     font-size: 15px;
     text-align: center;
     padding-top:20px ;
     }
     .user-img-main-2 {
         width: 200px;
         height: 200px;
     }
     .user-img2 {
         width: 147px;
         height: 215px;
         top: 0%;
         left: 12%;
        padding-bottom: 10px;

     }
     .quote1-2 {

         top:1%;
         left: -15%;
     }
     .quote2-2 {
         top:50% ;
         left: 60%;
     }
     .purpose-bottom {
        margin-top: 31px;
     }
     .patterns {
        display: none;
     }
}